<div class="card carta-resultados">
    <div class="card-header">
        Simulacion
    </div>
    <div class="card-body">
        <div style="width:100%;height:0;padding-bottom:67%;position:relative;"><iframe src="https://giphy.com/embed/qBbrMkyGKNJQs" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/wind-qBbrMkyGKNJQs">via GIPHY</a></p>

    </div>
</div>


<div class="card carta-resultados">
    <div class="card-header">
        Resultados
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Factor de induccion:</strong> <%= @coeficientes[0] %></p>
        <p class="card-text"><strong>Potencia:</strong> <%= @coeficientes[1] %></p>
        <p class="card-text"><strong>Coeficiente de potencia:</strong> <%= @coeficientes[2] %></p>
        

    </div>
</div>
