<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container container-simulacion">
        <div class="row">
          <div class="col">
            <div class="card carta-componentes">
                <div class="card-header">
                    Componentes
                </div>
                <div class="card-body">
                    <div style="width:100%;height:0;padding-bottom:69%;position:relative;"><iframe src="https://giphy.com/embed/Gl6hONXZ1wJHO" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/wind-turbines-windturbines-Gl6hONXZ1wJHO">via GIPHY</a></p>
            
                </div>
            </div>
          </div>
        </div>
    </div>
      
  </body>
</html>