<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container container-simulacion">
        <div class="row">
          <div class="col">
            <div class="card carta-componentes">
                <div class="card-header">
                    Energias Renovables
                </div>
                <div class="card-body">
                    <figure>
                        <img class="img-energia" src="https://www.factorenergia.com/wp-content/uploads/2018/08/energias-renovables.jpg" alt="ilustracion energia renovable">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis consequatur inventore laboriosam autem ea repellat sapiente natus. Odio commodi labore animi, odit aperiam, consectetur et, voluptates blanditiis voluptas aspernatur nulla autem. Delectus id maiores fugit deserunt omnis voluptate dignissimos voluptatum expedita molestiae ullam hic assumenda aliquam doloribus, in atque ipsam. Doloribus magni saepe ducimus cumque aut dolore modi tempore, quidem maxime dolor ab doloremque quis placeat accusamus, voluptate laudantium consequatur et repellat esse quia impedit! Tempore quaerat blanditiis cum eius fugit fuga nisi velit debitis maiores nihil, sequi quasi magni dicta eaque, quam hic nemo nobis. Nostrum iusto consectetur suscipit.</p>
                    </figure>
            
                </div>
            </div>
          </div>
        </div>
    </div>
      
  </body>
</html>