<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container container-simulacion">
        <div class="row">
          <div class="col">
            <div class="card carta-componentes">
                <div class="card-header">
                    ¡Porque son importantes las Energias Renovables?
                </div>
                <div class="card-body">
                    <figure>
                        <img class="img-energia" src="https://www.factorenergia.com/wp-content/uploads/2018/08/energias-renovables.jpg" alt="ilustracion energia renovable">
                        <p><strong>1.- La energía renovable lucha directamente contra el cambio climático.</strong><br>
                        Ayudan a disminuir la emisión de dióxido de carbono, y otros gases que contribuyen a un «efecto invernadero».
                        </p><br>
                        
                        <p><strong>2.- La generación de energía renovable contribuye a un aire puro y a reducir la contaminación.</strong><br>
                        No se produce combustión y, por tanto, no se emiten gases dañinos para nuestra salud.
                        </p><br>
                        
                        <p><strong>3.- La energía renovable mantiene intactos los recursos del planeta.</strong><br>
                        Se aprovechan recursos renovables y que son infinitos.
                        </p><br>
                        
                        <p><strong>4.- La energía renovable contribuye a una mejor calidad de vida.</strong><br>
                        Con un impacto medioambiental mínimo, una mejor calidad del aire y una reducción de las enfermedades, la energía renovable produce una mejor calidad de vida.
                        </p><br><br><br>

                        <a href="https://www.energyavm.es/importante-la-energia-renovable">Fuente</a>

                    </figure>
            
                </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>