
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->



      </div>
      <!-- Grid column -->
      <p>Grupo 52:</p>
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md3 mb-md-0 mb-3">
      <!-- Grid column -->
      <div class="col-md3 mb-md-0 mb-3">

        <!-- Links -->
  
        <h6 class="text-uppercase">Nicolás Errazuriz</h6>
        <h6 class="text-uppercase">Cristobal Guerrero</h6>
        <h6 class="text-uppercase">Roberto Izquiertdo</h6>
        <h6 class="text-uppercase">Santiago Molina</h6>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->

  <!-- Copyright -->

</footer>
<!-- Footer -->